
*{
    padding: 0%;
    margin: 0%;
}
/* Navbar*/


.navi{
    display: inline-block;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../imgs/backfade.jpg);
}
#categori{
    padding-right: 50px;
    padding-left: 50px;
}
#principal{
    position: absolute;
    top: 30%;
    left: 34%;
}
#principal2{
    position: absolute;
    top: 45%;
    left: 39%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 2% 0px 10px;
    height: 10%;

}

span{
    color: #ea1538;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;

}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}


/* Navbar*/


/* carousel*/
#carouselExampleControls{
    height: 30vw;
    width: 70%;
    position: relative;
    display: block !important;
    left: 15%;
    top: 10vh;
    padding-top: 3%;
    border: solid  rgb(165, 165, 165) 1px;
    border-radius: 1rem ;
    margin: 0%;
 }
div.row{
    width: 100%;
}
img.d-block.w-100{
    width: 40% !important;
}
div.col{
    display: inline-flex;
    justify-content: center;
    height: 100% !important;
 
}

#rowtexto{
    display: block;
    width: 100%;
    height: 40%;
}
.texto{
    display: inline !important;
    text-align: center;
    position: relative;
}
  


/* carousel*/


#productosdestacados {
    position: relative;
    top: 10vh;
    display: grid;
    place-items: center;
    align-content: center;
}
h1 {
    text-align: center;
}

#mostsold{
    place-items: center;
    align-content: center;
    position: relative;
    top: 35vh;
    color: rgb(255, 255, 255);
}
#vendidos{
    color: #ea1538;
}
#h1mostsold{
    font-size: 56px;
}
#carouselExampleControls2 {
    height: 25vw;
    width: 60%;
    position: relative;
    display: block !important;
    top: 35vh;
    left: 35%;
    padding-top: 3%;
    border: solid  rgb(165, 165, 165) 1px;
    border-radius: 1rem ;
    margin: 0;
 }
 

 .carousel-control-next {
    padding-left: 5rem !important;
 }
 .carousel-control-prev{
    padding-right: 5rem !important;
 }
 #destacados {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    top: 152%;

 }

#hl{
    top: 200vh;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../imgs/background2.jpg);
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s; 
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



.tragox2, .tragox{
    color: rgb(145, 141, 141);
}
.nombretrago{
    color: rgb(0, 161, 121);
}

.precio{
    color: rgb(158, 41, 41);
}
footer{
    position: absolute;
    width: 100%;
    top: 300%;
  }

