{% extends "base.html" %}
{% load static %}


{% block headers %}
<title>Productos</title>
{% endblock %}

{% block content %}
<div class="container lista">
    <ul class="list-group">
        {% for producto in productos %}
        <li class="list-group-item">{{ producto.nombre }} &nbsp;<a href="{% url 'producto_view' producto.id %}" class="btn btn-sm btn-success">Detalles</a>&nbsp;<a href="{% url 'producto_actualizar' producto.id %}" class="btn btn-sm btn-warning">actualizar</a>&nbsp;<a href="{% url 'producto_eliminar' producto.id %}" class="btn btn-sm btn-danger">eliminar</a></li>
        {% endfor %}
    </ul>    
</div>

{% endblock %}